.martos {
    width: 336px;
    min-height: 20px;
    margin: 5px;
    padding: 5px;
    font-family: Arial;
    color: #e9dbfd;
    background-color: #f16b6b;
    border-style: solid;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 5px;
  }
  