
.wrapDays {
    margin-left: 5px;
    padding: 5px;
    border: 1px solid black;
    width: 82px;
}

.Monday {
    color: green;
}

.Tuesday {
    color: yellow;
}

.Wednesday {
    color: red;
}

.Thursday {
    color: purple;

}

.Friday {
    color: darkslategrey;
}
