.greetingBox{width: 250px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  background-color: #c494e1;
}

.greetingBox span{width: 15px;
  margin: 5px;
}

.greetingBox button{
  margin-left: 5px;
  padding: 5px;
  background-color: #ff465f;
  border-radius: 5px;
}