.name {
  box-sizing: border-box;
  width: 350px;
  min-height: 33px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  transition: all .5s;
  border: 1px solid #000;
}
.name:hover{
  background-color: #ceffca;
  text-transform: uppercase;

}
.name p{
  font-weight: 500;
  width: 100%;
  margin: 0;
}
