
.styleForName{
  background-color: green;
  margin-left: 5px;
  padding: 5px;
  border: 1px solid black;
  width: 82px;
}

.all{
  margin-left: 5px;
  padding: 5px;
  border: 1px solid black;
  width: 82px;
}

.styleMap {
  width: 500px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap
}