*{
  margin: 0;
  padding: 0;
}
.name{
  width: 350px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #000;
}
.name p{
  font-size: 20px;
  font-family: arial;
  text-align: center;
  line-height: 40px;
  animation: name 2s infinite;
  color: white;
}
@keyframes name {
  from{
    text-shadow:0px 0px 10px #fff,
    0px 0px 10px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 50px #fff,
    0px 0px 50px #fff,
    0px 0px 50px #7B96B8}
}